body {
    font-family: Arial;
    background: lightpink;
    text-align: center;
}

.container {
    margin-top: 100px;
}

input {
    padding: 8px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

li {
    margin: 10px;
    list-style: none;
}